In [46]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [48]:
#Read the csv file - clinicaltrial_data.csv
file_path1= os.path.join('data','clinicaltrial_data.csv')
clinical_trial_df = pd.read_csv(file_path1)

In [49]:
#Read the csv file - mouse_drug_data.csv
file_path2= os.path.join('data','mouse_drug_data.csv')
mouse_drug_df = pd.read_csv(file_path2)

In [51]:
# Combine the data into a single dataset
merged_df = pd.merge(clinical_trial_df, mouse_drug_df, on=('Mouse ID'))

In [52]:
#merged_df.info()

In [53]:
# Display the data table for preview
merged_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0           45.000000                 0  Capomulin
1     b128          5           45.651331                 0  Capomulin
2     b128         10           43.270852                 0  Capomulin
3     b128         15           43.784893                 0  Capomulin
4     b128         20           42.731552                 0  Capomulin

In [27]:
#merged_df.to_csv("Output/merge.csv", index= True, header= True)

## Tumor Response to Treatment

Find the Mean and Standard Error of Tumor Volume(mm3) Data, Grouped by Drug and Timepoint

In [54]:
# Mean of Tumor Volume(mm3) Data, Grouped by Drug and Timepoint
mean_tv_df = pd.DataFrame(merged_df.groupby(['Drug', 'Timepoint']) ["Tumor Volume (mm3)"].mean())
#Reindexing DF
mean_tv_df=mean_tv_df.reset_index()
#preview
mean_tv_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
..        ...        ...                 ...
95  Zoniferol         25           55.432935
96  Zoniferol         30           57.713531
97  Zoniferol         35           60.089372
98  Zoniferol         40           62.916692
99  Zoniferol         45           65.960888

[100 rows x 3 columns]

In [55]:
#mean_tv_df.to_csv("Output/mean_tv_df.csv", index= True, header= True)

In [10]:
# Minor Data Munging to Re-Format the Data Frames
# Preview that Reformatting worked

mean_df_pivot=mean_tv_df.pivot(index='Timepoint',columns='Drug', values='Tumor Volume (mm3)')
mean_df_pivot

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334
25,39.939528,54.287674,55.715252,57.678982,56.731968,57.482574,55.504138,38.974300,56.166123,55.432935
30,38.769339,56.769517,58.299397,60.994507,59.559509,59.809063,58.196374,38.703137,59.826738,57.713531
35,37.816839,58.827548,60.742461,63.371686,62.685087,62.420615,60.350199,37.451996,62.440699,60.089372
40,36.958001,61.467895,63.162824,66.068580,65.600754,65.052675,63.045537,36.574081,65.356386,62.916692
45,36.236114,64.132421,65.755562,70.662958,69.265506,68.084082,66.258529,34.955595,68.438310,65.960888

In [56]:
mean_df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 45
Data columns (total 10 columns):
Capomulin    10 non-null float64
Ceftamin     10 non-null float64
Infubinol    10 non-null float64
Ketapril     10 non-null float64
Naftisol     10 non-null float64
Placebo      10 non-null float64
Propriva     10 non-null float64
Ramicane     10 non-null float64
Stelasyn     10 non-null float64
Zoniferol    10 non-null float64
dtypes: float64(10)
memory usage: 880.0 bytes

In [79]:
#Cap_tv_list=.to_list()
cap_tv_list=mean_df_pivot['Capomulin'].to_list()
cap_tv_list=[round(item, 2) for item in cap_tv_list]
cap_tv_list

[45.0, 44.27, 43.08, 42.06, 40.72, 39.94, 38.77, 37.82, 36.96, 36.24]

In [78]:
ls=[type(item) for item in ls]
ls

[float, float, float, float, float, float, float, float, float, float]

In [80]:
#Cap_tv_list=.to_list()
ket_tv_list=mean_df_pivot['Ketapril'].to_list()
ket_tv_list=[round(item, 2) for item in ket_tv_list]
ket_tv_list

[45.0, 47.39, 49.58, 52.4, 54.92, 57.68, 60.99, 63.37, 66.07, 70.66]

In [81]:
inf_tv_list=mean_df_pivot['Infubinol'].to_list()
inf_tv_list=[round(item, 2) for item in inf_tv_list]
inf_tv_list

[45.0, 47.06, 49.4, 51.3, 53.2, 55.72, 58.3, 60.74, 63.16, 65.76]

In [82]:
pla_tv_list=mean_df_pivot['Placebo'].to_list()
pla_tv_list=[round(item, 2) for item in pla_tv_list]
pla_tv_list

[45.0, 47.13, 49.42, 51.36, 54.36, 57.48, 59.81, 62.42, 65.05, 68.08]

In [85]:
# Standard Error of Tumor Volume(mm3) Data, Grouped by Drug and Timepoint
sem_tv_df = pd.DataFrame(merged_df.groupby(['Drug', 'Timepoint']) ["Tumor Volume (mm3)"].sem())
#Reindexing DF
sem_tv_df=sem_tv_df.reset_index()
#preview
sem_tv_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0            0.000000
1   Capomulin          5            0.448593
2   Capomulin         10            0.702684
3   Capomulin         15            0.838617
4   Capomulin         20            0.909731
..        ...        ...                 ...
95  Zoniferol         25            0.602513
96  Zoniferol         30            0.800043
97  Zoniferol         35            0.881426
98  Zoniferol         40            0.998515
99  Zoniferol         45            1.003576

[100 rows x 3 columns]

In [86]:
# Minor Data Munging to Re-Format the Data Frames
# Preview that Reformatting worked

sem_df_pivot=sem_tv_df.pivot(index='Timepoint',columns='Drug', values='Tumor Volume (mm3)')
sem_df_pivot=sem_tv_df.pivot(index='Timepoint',columns='Drug', values='Tumor Volume (mm3)')
sem_df_pivot

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.448593,0.164505,0.235102,0.264819,0.202385,0.218091,0.231708,0.482955,0.239862,0.188950
10,0.702684,0.236144,0.282346,0.357421,0.319415,0.402064,0.376195,0.720225,0.433678,0.263949
15,0.838617,0.332053,0.357705,0.580268,0.444378,0.614461,0.466109,0.770432,0.493261,0.370544
20,0.909731,0.359482,0.476210,0.726484,0.595260,0.839609,0.555181,0.786199,0.621889,0.533182
25,0.881642,0.439356,0.550315,0.755413,0.813706,1.034872,0.577401,0.746991,0.741922,0.602513
30,0.934460,0.490620,0.631061,0.934121,0.975496,1.218231,0.746045,0.864906,0.899548,0.800043
35,1.052241,0.692248,0.984155,1.127867,1.013769,1.287481,1.084929,0.967433,1.003186,0.881426
40,1.223608,0.708505,1.055220,1.158449,1.118567,1.370634,1.564779,1.128445,1.410435,0.998515
45,1.223977,0.902358,1.144427,1.453186,1.416363,1.351726,1.888586,1.226805,1.576556,1.003576

In [88]:
#Capomulin Standard Error to list
cap_sem_list=sem_df_pivot['Capomulin'].to_list()
#round the floating number to two decimal value
cap_sem_list=[round(item, 2) for item in cap_sem_list]
cap_sem_list

[0.0, 0.45, 0.7, 0.84, 0.91, 0.88, 0.93, 1.05, 1.22, 1.22]

In [89]:
#Ketapril Standard Error to list
ket_sem_list=sem_df_pivot['Ketapril'].to_list()
#round the floating number to two decimal value
ket_sem_list=[round(item, 2) for item in ket_sem_list]
ket_sem_list

[0.0, 0.26, 0.36, 0.58, 0.73, 0.76, 0.93, 1.13, 1.16, 1.45]

In [ ]:
#InfubinolStandard Error to list
inf_sem_list=sem_df_pivot['Infubinol'].to_list()
#round the floating number to two decimal value
inf_sem_list=[round(item, 2) for item in inf_sem_list]
inf_sem_list

In [ ]:
#Ketapril Standard Error to list
pla_sem_list=sem_df_pivot['Placebo'].to_list()
#round the floating number to two decimal value
pla_sem_list=[round(item, 2) for item in pla_sem_list]
pla_sem_list

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [ ]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [ ]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [ ]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.074833
          10                 0.125433
          15                 0.132048
          20                 0.161621

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [ ]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

        Drug  Timepoint  Mouse Count
0  Capomulin          0           25
1  Capomulin          5           25
2  Capomulin         10           25
3  Capomulin         15           24
4  Capomulin         20           23

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,25,25,25,25,25,25,26,25,26,25
5,25,21,25,23,23,24,25,25,25,24
10,25,20,21,22,21,24,23,24,23,22
15,24,19,21,19,21,20,17,24,23,21
20,23,18,20,19,20,19,17,23,21,17

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

Drug
Capomulin   -19.475303
Ceftamin     42.516492
Infubinol    46.123472
Ketapril     57.028795
Naftisol     53.923347
Placebo      51.297960
Propriva     47.241175
Ramicane    -22.320900
Stelasyn     52.085134
Zoniferol    46.579751
dtype: float64

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

![Metastatic Spread During Treatment](../Images/change.png)